# langchain core 
langchain
langchain-core

# openAI Integration 
langchain-openai 
openai


# Anthropic Intergration 
langchain-anthropic


# Google Gemini (PaLM) Intergration 
langchain-google-genai
google-generativeai


# Hugging Face Integration 
langchain-huggingface
transformers
huggingface-hub

# Machine Learning Utilities
numpy
scikit-learn